<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <script src='/originControls.js' defer></script>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
    <form action='/origin/search/producer' method='GET' class='searchProducer'>
      <label for='producer'>Trouver par producteur *</label>
      <input type='text' name='producer' id='producer' placeholder='Domaine Langlois' required>
      <button type='submit'>Trouver</button>
    </form>
  </header>
  <main class='mainOrigin'>
    <div class='searchBar'>
      <ul class='regionList'>
        <% listByRegion.forEach((regionList) => { %>
          <li>
            <a href='/origin/search?region=<%= regionList.region %>'><%= regionList.region %></a>
            <% if (listByAppellation[regionList.region] && listByAppellation[regionList.region].length > 0) { %>
              <ul class='appellationList'>
                <% listByAppellation[regionList.region].forEach((appellation) => { %>
                  <li>
                    <a href='/origin/search?region=<%= regionList.region %>&appellation=<%= appellation %>'><%= appellation %></a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </div>
    <section>
      <% if (fullWineList && fullWineList.length > 0) { %>
        <ul>
          <% fullWineList.forEach((wine) => { %>
            <li>
              <div>
                <h3><%= wine.wine_name %></h3>
                <p><%= wine.year %></p>
                <p><%= wine.color %></p>
              </div>
              <div>
                <p><%= wine.producer %></p>
                <p><%= wine.appellation %></p>
                <p><%= wine.region %></p>
              </div>
              <div>
                <p><%= wine.quantity %></p>
              </div>
              <div>
                <a href='/wine/<%= wine.wine_id %>'>Détails</a>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } else if (hasSearched) { %>
        <p>Aucun vin trouvé - veuillez choisir un autre région ou appellation.</p>
      <% } %>
    </section>
  </main>
</body>
</html>
