<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <script src='/listControls.js' defer></script>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
  </header>
  <main class='mainType'>
    <div class='searchBar'>
      <ul class='colorList'>
        <% listByColor.forEach((colorList) => { %>
          <li>
            <a href='/type/search?color=<%= colorList.color %>'><%= colorList.color %></a>
            <% if (listByStyle[colorList.color] && listByStyle[colorList.color].length > 0) { %>
              <ul class='styleList'>
                <% listByStyle[colorList.color].forEach((style) => { %>
                  <li>
                    <a href='/type/search?color=<%= colorList.color %>&style=<%= style %>'><%= style %></a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </div>
    <section>
      <% if (colorWineList && colorWineList.length > 0) { %>
        <ul>
          <% colorWineList.forEach((wine) => { %>
            <li>
              <div>
                <h3><%= wine.wine_name %></h3>
                <p><%= wine.year %></p>
                <p><%= wine.color %></p>
                <p><%= wine.style %></p>
              </div>
              <div>
                <p><%= wine.quantity %></p>
              </div>
              <div>
                <a href='/wine/<%= wine.wine_id %>'>Détails</a>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } else if (hasSearched) { %>
        <p>No wines found - please choose another wine type from the menu.</p>
      <% } %>
    </section>
  </main>
</body>
</html>
