<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
  </header>
  <main class='mainType'>
    <div class='searchBar'>
      <ul class='colorList'>
        <% listByColor.forEach((colorList) => { %>
          <li>
            <a href='/type/search?color=<%= colorList.color %>'><%= colorList.color %></a>
          </li>
        <% }) %>
      </ul>
    </div>
    <section>
      <% if (hasSearched && colorWineList.length === 0) { %>
        <p>Aucun vin trouvé - veuillez choisir une autre couleur.</p>
      <% } else if (colorWineList && colorWineList.length > 0) { %>
        <ul>
          <% colorWineList.forEach((wine) => { %>
            <li>
              <div>
                <h3><%= wine.wine_name %></h3>
                <p><%= wine.year %></p>
                <p><%= wine.color %></p>
              </div>
              <div>
                <p><%= wine.producer %></p>
                <p><%= wine.appellation %></p>
                <p><%= wine.region %></p>
              </div>
              <div>
                <p><%= wine.quantity %></p>
              </div>
              <div>
                <a href='/wine/<%= wine.wine_id %>'>Détails</a>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </section>
  </main>
</body>
</html>
