<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
  </header>
  <main class='mainType'>
    <div class='searchBar'>
      <% typeWineList.forEach((wineType) => { %>
        <a href='/type/search?search=<%= wineType.color %>'><%= wineType.color %></a>
      <% }) %>
    </div>
    <section>
      <% if (colorWineList.length > 0) { %>
        <ul>
          <% colorWineList.forEach((wine) => { %>
            <li>
              <div>
                <h3><%= wine.wine_name %></h3>
                <p><%= wine.year %></p>
                <p><%= wine.color %></p>
              </div>
              <div>
                <a href='/wine/<%= wine.wine_id %>'>Détails</a>
              </div>
            </li>
          <% }) %>
        <% } else { %>
          <p>No wines found - please choose another color.</p>
        </ul>
      <% } %>  
    </section>
  </main>
</body>
</html>
