<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <div class='headerBox'>
      <h1><%= title %></h1>
      <h2><%= subtitle %></h2>
    </div>
  </header>
  <main class='mainWine'>
    <section>
      <ul>
        <% wineList.forEach(wine => { %>
          <li>
            <div class='wineIcons'>
              <%- include('./partials/glass-wine', {
                fill: getWineColor(wine.color),
                stroke: getWineColor(wine.color),
                bubbles: wine.color === 'effervescent'
              }) %>
              <%- include('./partials/bottle-wine', {
                fill: getWineColor(wine.color),
                stroke: getWineColor(wine.color),
                bubbles: wine.color === 'effervescent'
              }) %>
            </div>
            <h3><%= wine.wine_name %></h3>
            <h3><%= wine.year %></h3>
            <h3><%= wine.producer %></h3>
            <a href='/wine/<%= wine.wine_id %>'>Détails</a>
          </li>
        <% }) %> 
      </ul>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>
