<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <script src='/quantityControls.js'></script>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <h1><%= wineDetail.wine_name %></h1>
  </header>
  <main class='detailMain'>
    <div>
      <p>Millésime: <%= wineDetail.year %></p>
      <p>Couleur: <%= wineDetail.color %></p>
    </div>
    <div>
      <p>Producteur: <%= wineDetail.producer %></p>
      <p>Appellation: <%= wineDetail.appellation %></p>
      <p>Région: <%= wineDetail.region %></p>
    </div>
    <form action='/wine/<%= wineDetail.wine_id %>/quantity?_method=PATCH' method='POST' class='quantityForm'>
      <label for='quantity'>Quantité *</label>
      <div>
        <button type='button' onclick='handleDecrease()'>-</button>
          <input value='<%= wineDetail.quantity %>' type='text' name='quantity' id='quantity' minlength='0' maxlength='3' pattern='^\d+$' required>
        <button type='button' onclick='handleIncrease()'>+</button>
      </div>
      <button type='submit'>Sauvegarder</button>
    </form>
    <div class='detailButtons'>
      <a href='/wine/<%= wineDetail.wine_id %>/edit'>Mettre à jour</a>
      <form action='/wine/<%= wineDetail.wine_id %>/delete?_method=DELETE' method='POST'>
        <button type='submit'>Supprimer</button>
      </form>
    </div>
  </main>
</body>
</html>
