<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <script src='/quantityControls.js'></script>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <h1><%= wineDetail.wine_name %> <%= wineDetail.year %></h1>
  </header>
  <main class='detailMain'>
    <div class='detailInfo'>
      <h2>Producteur: <%= wineDetail.producer %></h2>
      <h2>Appellation: <%= wineDetail.appellation %></h2>
      <h2>Région: <%= wineDetail.region %></h2>
      <h3>Garde: <%= wineDetail.life_max %></h3>
    </div>
    <div class='detailQty'>
      <h2>Quantité</h2>
      <h4>Total: <%= wineDetail.qty_empty + wineDetail.qty_full %></h4>
      <h4>Il reste <%= wineDetail.qty_full %> bouteilles.</h4>
      <form action='/wine/<%= wineDetail.wine_id %>/quantity?_method=PATCH' method='POST' class='qtyForm'>
        <div>
          <button type='button' onclick='handleDecrease()'>-</button>
            <input value='<%= wineDetail.qty_full %>' type='text' name='qtyFull' id='qtyFull' minlength='0' maxlength='3' pattern='^\d+$' required>
          <button type='button' onclick='handleIncrease()'>+</button>
        </div>
        <button type='submit'>Sauvegarder</button>
      </form>
    </div>
    <div class='detailIcons'>
      <%- include('./partials/glass-wine', {
        fill: getWineColor(wineDetail.color),
        stroke: getWineColor(wineDetail.color),
        bubbles: wineDetail.color === 'effervescent'
      }) %>
      <%- include('./partials/bottle-wine', {
        fill: getWineColor(wineDetail.color),
        stroke: getWineColor(wineDetail.color),
        bubbles: wineDetail.color === 'effervescent'
      }) %>
    </div>
    <div class='detailBtns'>
      <a href='/wine/<%= wineDetail.wine_id %>/edit'>Mettre à jour</a>
      <form action='/wine/<%= wineDetail.wine_id %>/delete?_method=DELETE' method='POST'>
        <button type='submit'>Supprimer</button>
      </form>
    </div>
  </main>
</body>
</html>
