<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <script src='/grapeControls.js' defer></script>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <div class='headerBox'>
      <h1><%= title %></h1>
    </div>
  </header>
  <main class='mainBox'>
    <form action='/wine/<%= wineDetail.wine_id %>/edit?_method=PUT' method='POST' class='mainForm'>
      <div>
        <label for='wineName'>Nom du vin *</label>
        <input value='<%= wineDetail.wine_name %>' type='text' name='wineName' id='wineName' minlength='3' maxlength='30' required>
        <label for='producer'>Producteur *</label>
        <input value='<%= wineDetail.producer %>' type='text' name='producer' id='producer' minlength='3' maxlength='30' required>
        <label for='appellation'>Appellation *</label>
        <input value='<%= wineDetail.appellation %>' type='text' name='appellation' id='appellation' minlength='3' maxlength='30' required>
        <label for='region'>Région *</label>
        <input value='<%= wineDetail.region %>' type='text' name='region' id='region' minlength='3' maxlength='30' required>
        <label for='wineYear'>Millésime *</label>
        <input value='<%= wineDetail.year %>' type='number' name='wineYear' id='wineYear' min='1900' max='<%= new Date().getFullYear() %>' required>
        <label for='lifeMax'>Garde maximum *</label>
        <input value='<%= wineDetail.life_max %>' type='number' name='lifeMax' id='lifeMax' min='<%= new Date().getFullYear() %>' max='2100' required>
      </div>
      <div>
        <div id='grapeInput'>
          <div class='grapeExtra'>
            <label for='grapes0'>Cépage *</label>
            <input value='<%= wineDetail.grapes[0] %>' type='text' name='grapes[]' id='grapes0' minlength='3' maxlength='30' required>
            <button type='button' id='addGrape'><%- include('./partials/plus') %></button>
          </div>
          <% if (wineDetail.grapes && wineDetail.grapes.length > 1) { %>
            <% for (let i = 1; i < wineDetail.grapes.length; i++) { %>
              <div class='grapeExtra'>
                <label for='grapes<%= i %>'>Cépage *</label>
                <input value='<%= wineDetail.grapes[i] %>' type='text' name='grapes[]' id='grapes<%= i %>' minlength='3' maxlength='30'>
                <button type='button' onclick='removeGrape(this)'><%- include('./partials/delete') %></button>
              </div>
            <% } %>
          <% } %>
          <div style='display: none'>
            <span class='deleteIcon'>
              <%- include('./partials/delete') %>
            </span>
          </div>
        </div>
        <label for='qtyEmpty'>Quantité de vides *</label>
        <input value='<%= wineDetail.qty_empty %>' type='number' name='qtyEmpty' id='qtyEmpty' min='0' max='100' required>
        <label for='qtyFull'>Quantité de pleines *</label>
        <input value='<%= wineDetail.qty_full %>' type='number' name='qtyFull' id='qtyFull' min='0' max='100' required>
        <fieldset>
          <legend>Couleur *</legend>
          <label class='checkform' for='rouge'>rouge
            <input type='radio' id='rouge' name='wineColor' value='rouge' <%= wineDetail.color === 'rouge' ? 'checked' : '' %> required>
            <span class='checkmark'></span>
          </label>
          <label class='checkform' for='blanc'>blanc
            <input type='radio' id='blanc' name='wineColor' value='blanc' <%= wineDetail.color === 'blanc' ? 'checked' : '' %> >
            <span class='checkmark'></span>
          </label>
          <label class='checkform' for='rosé'>rosé
            <input type='radio' id='rosé' name='wineColor' value='rosé' <%= wineDetail.color === 'rosé' ? 'checked' : '' %> >
            <span class='checkmark'></span>
          </label>
          <label class='checkform' for='effervescent'>effervescent
            <input type='radio' id='effervescent' name='wineColor' value='effervescent' <%= wineDetail.color === 'effervescent' ? 'checked' : '' %> >
            <span class='checkmark'></span>
          </label>
        </fieldset>
      </div>
      <div class='formButton'>
        <button type='submit'>Sauvegarder</button>
      </div>
    </form>
  </main>
  <%- include('./footer') %>
</body>
</html>
