<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar.ejs') %>
  <header>
    <h1><%= title %></h1>
  </header>
  <main class='mainBox'>
    <form action='/wine/<%= wineDetail.id %>/edit?_method=PUT' method='POST' class='mainForm'>
      <label for='wineName'>Nom du vin *</label>
      <input value='<%= wineDetail.winename %>' type='text' name='wineName' id='wineName' required>
      <label for='wineYear'>Millésime *</label>
      <input value='<%= wineDetail.year %>' type='number' name='wineYear' id='wineYear' min='1950' max='2025' required>
      <div class='formButton'>
        <button type='submit'>Save</button>
      </div>
    </form>
  </main>
</body>
</html>
