<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <h1><%= title %></h1>
  </header>
  <main class='mainHome'>
    <div class='searchBar'>
      <ul>
        <h2><%= searchTitle %></h2>
        <li>
          <a href='/wine'>Liste des vins</a>
        </li>
        <li>
          <a href='/type'>Vin par couleur</a>
        </li>
        <li>
          <a href='/origin'>Vin par origine</a>
        </li>
      </ul>
    </div>
    <div>
    </div>
    <section>
      <h2><%= sectionTitle %></h2>
      <% if (maxLifeList.length === 0) { %>
        <p>Pas de vin avec une date de garde maximale cette année.</p>
      <% } else if (maxLifeList && maxLifeList.length > 0) { %>
        <ul>
          <% maxLifeList.forEach(wine => { %>
            <li>
              <div>
                <h3><%= wine.wine_name %> <%= wine.year %></h3>
                <h3><%= wine.producer %></h3>
                <h4><%= wine.appellation %>, <%= wine.region %></h4>
              </div>
              <div class='iconBtns'>
                <div>
                  <%- include('./partials/glass-wine', {
                    fill: getWineColor(wine.color),
                    stroke: getWineColor(wine.color),
                    bubbles: wine.color === 'effervescent'
                  }) %>
                  <%- include('./partials/bottle-wine', {
                    fill: getWineColor(wine.color),
                    stroke: getWineColor(wine.color),
                    bubbles: wine.color === 'effervescent'
                  }) %>
                </div>
                <a href='/wine/<%= wine.wine_id %>'>Détails</a>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </section>
  </main>
</body>
</html>
