<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar') %>
  <header>
    <div class='headerBox'>
      <h1><%= title %></h1>
    </div>
  </header>
  <main class='mainHome'>
    <section class='maxLifeList'>
      <h2 class='centerText'><%= maxLifeTitle %></h2>
      <% if (maxLifeList.length === 0) { %>
        <h3 class='centerText'>Pas de vin avec une date de garde maximale cette année.</h3>
      <% } else if (maxLifeList && maxLifeList.length > 0) { %>
        <ul>
          <% maxLifeList.forEach(wine => { %>
            <li>
              <div>
                <h3><%= wine.wine_name %> <%= wine.year %></h3>
                <h3><%= wine.producer %></h3>
                <h4><%= wine.appellation %>, <%= wine.region %></h4>
              </div>
              <div class='iconBtns'>
                <div>
                  <%- include('./partials/glass-wine', {
                    width: '18',
                    height: '36',
                    fill: getWineColor(wine.color),
                    stroke: getWineColor(wine.color),
                    bubbles: wine.color === 'effervescent'
                  }) %>
                  <%- include('./partials/bottle-wine', {
                    width: '32',
                    height: '64',
                    fill: getWineColor(wine.color),
                    stroke: getWineColor(wine.color),
                    bubbles: wine.color === 'effervescent'
                  }) %>
                </div>
                <a href='/wine/<%= wine.wine_id %>'>Détails</a>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </section>
    <section class='primeList'>
      <h2 class='centerText'><%= primeTitle %></h2>
      <% if (primeList.length === 0) { %>
        <h3 class='centerText'>Pas de vins à leur apogée cette année.</h3>
      <% } else if (primeList && primeList.length > 0) { %>
        <ul>
          <% primeList.forEach(wine => { %>
            <li>
              <div>
                <h3><%= wine.wine_name %> <%= wine.year %></h3>
                <h3><%= wine.producer %></h3>
                <h4><%= wine.appellation %>, <%= wine.region %></h4>
              </div>
              <div class='iconBtns'>
                <div>
                  <%- include('./partials/glass-wine', {
                    width: '18',
                    height: '36',
                    fill: getWineColor(wine.color),
                    stroke: getWineColor(wine.color),
                    bubbles: wine.color === 'effervescent'
                  }) %>
                  <%- include('./partials/bottle-wine', {
                    width: '32',
                    height: '64',
                    fill: getWineColor(wine.color),
                    stroke: getWineColor(wine.color),
                    bubbles: wine.color === 'effervescent'
                  }) %>
                </div>
                <a href='/wine/<%= wine.wine_id %>'>Détails</a>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } %>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>
