<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='/styles.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include('./navbar.ejs') %>
  <header>
    <h1><%= title %></h1>
    <div>
      <a href='/newWine'>Ajouter du vin</a>
    </div>
  </header>
  <main>
    <section>
      <ul>
        <% wineList.forEach((wine) => { %>
          <li>
            <div>
              <h3><%= wine.winename %></h3>
              <h4><%= wine.year %></h4>
            </div>
            <div>
              <a href='/wine/<%= wine.id %>'>Détails</a>
            </div>
          </li>
        <% }) %> 
      </ul>
    </section>
  </main>
</body>
</html>
